.display-screen-one, .display-screen-two, .display-screen-three, .display-screen-four, .display-screen-five, .display-screen-six{
    background-color: rgba(34, 34, 34, 0.9);
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 477vh;
    display: none;
}

.display-images > img{
    position: absolute;
    top: 200px;
    left: 500px;
}

.close-btn-one, .close-btn-two, .close-btn-three, .close-btn-four, .close-btn-five, .close-btn-six{
    width: 30px;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.display-images img{
    width: 350px;
}