.display-screen-one, .display-screen-two, .display-screen-three, .display-screen-four, .display-screen-five, .display-screen-six{
    background-color: rgba(34, 34, 34, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.display-images{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 32vh;
}

.close-btn-one, .close-btn-two, .close-btn-three, .close-btn-four, .close-btn-five, .close-btn-six{
    width: 30px;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.display-images img{
    width: 500px;
}